body {
    margin: 0;
    padding: 0;
}

.jsection {
    background-image: url(asset/img_jap/jap_flag.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.jpadingimg2 {
    padding-bottom: 5vw;
}

.jimg {
    width: 30vw;
    padding-left: 35vw;
    transition: transform 0.3s ease;
}

.jimg2 {
    width: 30vw;
    padding-left: 13vw;
    transition: transform 0.3s ease;
}

.jimg2:hover {
    transform: scale(1.5);
}

.jimg:hover {
    transform: scale(1.5);
}
