.hdbk {
    background-image: url(asset/img_jap/flag_jap_.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 108vw;
    height: 37vw;
    padding: 1vw;
    margin: -11vw;
}

h1 {
    font-size: 8vw;
    text-align: center;
    padding-top: 24vw;
    padding-left: 2VW;
    margin-bottom: 0vw;
}