body {
    margin: 0;
    padding: 0;
}

.continent {
    display: flex;
}

.imgcontinent {
    position: relative;
    display: inline-block;
    margin-left: 1vw;
    margin-top: 1vw;
}

.pinEcosse {
    position: absolute;
    width: 4vw;
    margin-left: -69%;
    margin-top: 25%;
}

.pinEspagne {
    position: absolute;
    margin-left: -79%;
    margin-top: 60%;
    width: 4vw;
}

.imgeurope {
    position: relative;
}

.texteurope {
    margin-left: 2vw;
}

.pinGrèce {
    position: absolute;
    margin-left: -31%;
    margin-top: 68%;
    width: 4vw;
}

.animauxespagne {
    display: none;
    width: 21%;
    position: absolute;
    margin-top: -18%;
    margin-left: 15%;
}

.pinEspagne:hover+.animauxespagne {
    display: block;
}

.animauxjapon {
    display: none;
    width:23%;
    position: absolute;
    margin-top: -57%;
    margin-left: 72%;
}

.pinJapon {
    position: absolute;
    width: 4vw;
    margin-left: -8vw;
    margin-top: 3vw;
}

.imgcontinent1 {
    position: relative;
    display: inline-block;
    margin-left: 1vw;
    margin-top: 1vw;
}

.imgasie{
    position: relative;
}

.pinJapon:hover+.animauxjapon {
    display: block;
}

.pinEcosse:hover+.animauxecosse {
    display: block;
}

.animauxecosse {
    display: none;
    width: 21%;
    position: absolute;
    margin-top: -53%;
    margin-left: 25%;
}

.animauxgrèce {
    display: none;
    width: 18%;
    position: absolute;
    margin-top: -37%;
    margin-left: 65%;
}

.pinGrèce:hover+.animauxgrèce {
    display: block;
}